page-create-vote {
    ion-content{
        background-image:url(../assets/imgs/slide8.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
        
 
        
    }


    .parent {
        position: absolute;
        width: 100%;
        margin: auto;
        bottom: 50%;
        top: 20%;
        text-align: center;
       

    }
    .button-outline-md,.button-outline-ios{
        border-color: white !important;
        color: black !important;
        width: 85% !important;
        background-color:rgba(255, 254, 254, 0.918) !important;
        letter-spacing: 2px;
        margin-top: 30px !important;
        font-family: Open Sans ,Semibold, Italic;
        padding-bottom: 10px;
        padding-top: 10px;   
        box-shadow: 10in;
        
       
    }
 //        font-family: monospace;
 //font-family: monospace;
//





}
