page-slider {

    .slide-zoom {
        height: 100% !important;
        height: 100% ;
      }
   .button-outline-ios,.button-ios,.button-outline-md,.button-outline-ios{
       
        border-color: transparent !important;
        float: left;
        
    }


.slide1,.slide2,.slide3{
  width: 100%;
  height: 100%;
   
}




    
}
