page-signup {
    // ion-header {
    //     .toolbar {
    //       position: absolute;
      
    //       .toolbar-background {
    //         background: transparent;
    //       }
    //       .toolbar-title {
    //         color: black;
    //       }
    //     }
    //   }
    ion-content{
        background-image: url(../assets/imgs/reh.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        letter-spacing: 1px;
        ion-title{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
            margin-top: 10%;
        }
        .signupGroup{
            // border: 2px solid black;
            margin-bottom: 5%;
            display: flex;
            width: 90%;
            height: 15%;
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: large;
            color: darkorange;
            vertical-align: middle;
            .clickOn {
                // border: 1px solid red;
                width: 25%;
                margin: 5%;
            height: 100%;
        }
        }
        .btnDiv1, .btnDiv2, .btnDiv3 {
            margin-top: 5%;
            width: 100%;
            height: 100%;
            ion-item{
                background-color:transparent !important;
                width: 80%;
                margin: auto;
            }
            button{
            width: 60%;
            margin: auto;
            border: 0px !important;
            justify-content:center !important;
        }}
    }

    .button-inner{
        color:white !important;
        justify-content:center !important;

    }

    .signup{
        color: white;
        h5{
            font-size: 90%;
              text-align: center;
        }
        .uu{
            margin-left: 5px;
            display: inline-block;
            font-weight: bold;
            font-size: 170%;
            font-family: Brush Script MT, Brush Script Std, cursive;
    
            color: wheat;
    
        }
    }

}